body {
    background-image: url("../img/digimonr.jpg");
}

#tabla1 {
    background-color: white;
    margin-top: 6%;
}

.navbar {
    background-color: black;
}

#tabla_nivel {
    display: none;
    margin-top: 6%;
}

#card {
    width: 20%;
    float: left;
    text-align: center;
}

#tarjSola {
    text-align: center;
    background-color: bisque;
    margin-top: 6%;


}